<div class="form-group">
  <form action="/answer">
    <input type="text" name="question" placeholder="  Ask your Coach anything!">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
